*{
    margin: 0;
    padding: 0;
}
.logo{
    padding-left: 20px;
}
.call{
margin-top: -60px;
margin-left: 50%;
}
.searchbar{
    margin-top: -10px;
    width: 30px;
margin-left: 80%;
display: flex;

}
.search{
    margin-top: -20px;
    border-color: gray;
width: 200px;
height: 25px;
border-radius: 10px;
padding-left: 10px;
border: none;
outline: none;
border: 1px solid gray;
}

.s1{
    width: 8px !important;
    height: 8px !important;
    margin-top: -18px;
    margin-left: -35px;
    cursor: pointer;
}

.navbar{
    margin-top: 20px;
    width: 110;
}

.bgimg{
    height: 100vh;
    width: 110;
}
.text01{
    position: absolute;
    border: 1px solid black;
    background-color: #2d86a7;
    margin-top: -400px;
    margin-left: 50%;
    width: 400px;
    height: 100px;
    padding: 9px;
    opacity: 0.9;
    color: white;
}
.boldtext01{
    color: white;
    font-size: 20px;
    font-family: cursive;
}
.normalp01{
    font-size: 15px;
    
}
.text02{
    
    border: 1px solid black;
    background-color: #064ef7;
    margin-top: -270px;
    margin-left: 50%;
    width: 300px;
    height: 15px;
    padding: 9px;
    opacity: 0.8;
    color: white;
    display: flex;
    flex-direction: row;
}

.boldtext02{
    font-size: 15px;
}
.normalp02{
    padding-top: 2px;
    font-size: 10px;
}
.normaltext01{
    border: 1px soild black;
    background-color: black;
    padding-right: 20px;
    margin-left: 250px;
    margin-bottom: -80px;
    position: relative;
    color: white;
    width: 100px;
    padding: 10px;
    bottom: -70px;
    border-radius: 20px 20px 0 0;
}
.hname{
    width: 100px;
}
.what{
    padding-right:70px ;
    
}
.whatdiv{
    margin-top: 150px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 15px soild black;
    background-color: white;
    margin-bottom: 0;
    width: 75%;
    margin-left: 250px;
    bottom: 0%;
    
}
.row01{
    padding-right: 20px;
    margin-left: 30px;
}
.whocontent{
    display: flex;
    flex-direction: row;
}
.who{
    padding-right: 180px;
}
.hname2{
    margin: 10px;
    margin-top: 6px;
}
.searchred{
    border: 1px soild red;
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    padding: 4px;
}
.ph01::after{
    content: "";
    position: absolute;
   background-color: gray;;
    height: 1px;
    
   
}
.ph01{
    margin-left: 250px;
    width: 70%;
    margin-top: 85px;

}


.taj{
    margin-left : 250px;
    margin-top: 4px;
}
.mont{
    margin-left : 600px;
    margin-top: 1200px;


}